{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container block has-text-centered">
        <h2 class="title is-4">{{ target.button }}</h2>
        <p class="subtitle narrow container">{{ target.subtitle }}</p>
    </div>
    <div class="container block is-max-desktop">
        <form action="{{ url_for('submit_page') }}" method="POST">
            <input type="hidden" name="target" value="{{ target.slug }}">
            <div class="notification is-warning">
                Contents of the form submission may be public. <strong>Do not</strong> enter any private data.
            </div>
            <div class="field">
                <label class="label">You are logged in as: </label>
                <div class="control">
                    <input class="input" type="text" value="{{ identity }}" readonly>
                </div>
                <p class="help">
                    Your username{% if email %} and email address{% endif %} will be included.
                </p>
            </div>

            <div class="field">
                <label class="label">Summary:</label>
                <div class="control">
                    <input name="summary" class="input" type="text" placeholder="Brief summary of what's wrong">
                </div>
            </div>

            <div class="field">
                <label class="label">Message:</label>
                <div class="control">
                    <textarea class="textarea" name="description"
                        placeholder="Description of the emergency situation, and how to contact you"></textarea>
                </div>
                <div class="help">
                    Please be as detailed as reasonably possible, and include how to best get in touch with you.
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-danger"
                        onclick="this.classList.add('is-loading');">Send</button>
                </div>
                <div class="control">
                    <a href="/" class="button is-link is-light">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
